[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wandb = "*"
youtube-dl = "*"
pympi-ling = "*"
ipython = "*"
jupyter = "*"
lightgbm = "*"

[packages]
numpy = "*"
flask = "*"
flask-cors = "*"
opencv-python = "*"
tensorflow-gpu = "==1.12.0"
keras = "*"
toml = "*"
tqdm = "*"
pandas = "*"
sklearn = "*"
flask-socketio = "*"


[requires]
python_version = "3.6"
