[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
youtube-dl = "*"
pympi-ling = "*"
ipython = "*"
jupyter = "*"
lightgbm = "*"
sklearn = "*"
pandas = "*"
aws-sam-cli = "*"

[packages]
numpy = "*"
tensorflow-gpu = ">=1.11,<1.12"
flask = "*"
flask-cors = "*"
opencv-python-headless = "*"
toml = "*"
boto3 = "*"

[requires]
python_version = "3.6"
