.fadeOutSpinner{
	 margin: auto;
     opacity:0;
     width:0px;
     height:0px;
     transition: width 2s 2s, height 2s 2s, opacity 2s;

}
.fadeInSpinner{
	 margin: auto;
     opacity:1;
     width:200px;
     height:200px;
     transition: width 2s, height 2s, opacity 2s 2s;

}

.fadeOutText{
	 margin: auto;
     opacity:0;
     width:0px;
     height:0px;
     transition: width 2s 2s, height 2s 2s, opacity 2s;

}
.fadeInText{
	 margin: auto;
	 margin-top: 50px;
	 margin-bottom: 180px;
     opacity:1;
     width:700px;
     height:100px;
     text-align: center;

     transition: width 2s, height 2s, opacity 2s 2s;

}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 2000ms;
}

.example-leave {
  opacity: 1;

}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: 2000ms;
}